/*--- Fonts ---*/

/*Changa*/ @import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

/*Share Tech*/ @import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

/*Source Code Pro */ @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/*Arvo */ @import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


/*--- Fonts end---*/

body {
    text-align: center;
    background-color: #0C4A6E;
}

#main-frame1 {
    margin-right: 150px;
    margin-left: 150px;
    background-color: white;
}

#main-title-index {
    font-family: 'Changa', sans-serif;
    text-decoration: underline;
    font-size: 40px;
    margin-bottom: 30px;
}

#generate-password-btn1 {
    font-size: 30px;
    border: 0px;
    padding: 15px 25px 15px 25px;
    border-radius: 13px;
    background-color: #0C4A6E;
    margin-bottom: 65px;
    color:rgb(255, 255, 255);
    font-family: 'Share Tech', sans-serif;
    font-style: bold;
}

#generate-password-btn1:hover {
    background-color: #116799;
}

#generate-password-btn1:active {
    background-color: #167fbc;
}

.password-placeholder-box {
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:black;
    height: 55px;
    width: 220px;
}

#password-placeholder1 {
    font-family: 'Source Code Pro', monospace;
    color: white;
}

#password-placeholder2 {
    font-family: 'Source Code Pro', monospace;
    color: white;
}

#pass-holder1 {
    display: flex;
    justify-content: space-evenly;
}

#main-description-index {
    font-family: 'Arvo', serif;
    margin-bottom: 50px;
}

#how-to-description-div {
    font-family: 'Arvo', serif;
    font-size: 1em;
    margin-bottom: 80px;
}

#how-to-use-text {
    font-family: 'Arvo', serif;
    font-style: bold;
    text-decoration: underline;
}

